/* formatted with CSS Formatter */
*, *::after, *::before {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  /* font-family: "Titillium Web", sans-serif; */
  font-family: "Dosis", sans-serif;
  /* font-family: 'Open Sans Condensed', sans-serif; */
}

body {
  min-height: 100%;
  min-width: 100%;
  background: radial-gradient(rgb(14, 79, 95), rgb(37, 37, 37));
}

h1 {
  font-weight: 800;
  margin: 0.67em;
}

.add-task-button {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 10px;
  padding: 1.5px;
  border-radius: 5px;
  /* todo Add button styling */
}

.input-card {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  max-width: 960px;
  width: 100vw;
  margin: 0 auto;
}

.todo-list {
  display: flex;
  margin: 3vh auto;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  max-width: 960px;
  width: 100vw;
  min-height: 200px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.todo-item {
  margin: 5px;
  padding: 5px;
  min-width: min-content;
  max-width: 80%;
  border: 2px solid rgb(105, 105, 105);
  border-radius: 5px;
  word-break: break-all;
  background-color: rgba(75, 75, 75, 0.1);
}

.todo-item:hover {
  padding: 7px;
  cursor: default;
}

.bullet-icon {
  font-size: 16px;
}

.bullet-icon:hover {
  color: rgb(184, 0, 0);
  cursor: pointer;
}